/*reset margini e padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*start logo and title*/
img {
    max-width: 100%;
    margin: 10px 0 10px 25px;
}

.logo {
    vertical-align: middle;
}

.main-header {
    background-color: white;
    font-size: 50px;
    font-family: fantasy;
    margin-bottom: 65px;
}
/*end logo and title*/
.container {
    max-width: 900px;
    margin:0 auto;
}

body {
    background-color: #f6f8f9;
}

/*color cells*/
.bg-blue {
    background-color: #47adf1;
    color: white;
}

.bg-purple {
    background-color: #9c72e4 ;
}

.bg-green {
    background-color: #64c0a9;
}
.bg-brown {
    background-color: #f29e33;
}

.bg-pink {
    background-color: #d863a1;
}

.bg-lime {
    background-color: #b0c926;
}
/*start main buttons*/

.main-buttons {
    background-color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-bottom:2px solid #f6f8f9;
}

.button {
    padding: 8px;
    border-radius: 5px;
    border-color: #47adf1;
    font-size: 15px;
}

#hidden-button {
    background-color: white;
    color: lightgrey;
    border-color: lightgrey;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
}
/*end main buttons*/
/*start list*/
ul {
    list-style: none;
    font-size: 22px;
    margin-bottom: 15px;
}

li {
    font-size: 18px;
    margin-bottom: 15px;
}

.signs {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
}

.positive {
    color: #78c9b6;
    background-color: white;
}

.negative {
    color: #ec655f;
    background-color: white;
}

.cells {
    border-radius: 25px;
    padding: 6px;
    font-size: small;
    color: white;
}


.main-list {
    background-color: white;
    padding: 50px;
}

/*star 1 part*/



