/*reset margini e padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*start logo and title*/
img {
    max-width: 100%;
    margin: 10px 0 10px 25px;
}

.logo {
    vertical-align: middle;
}

.main-header {
    background-color: white;
    font-size: 50px;
    font-family: fantasy;
    margin-bottom: 65px;
}
/*end logo and title*/
.container {
    max-width: 900px;
    margin:0 auto;
}

body {
    background-color: brown;
}
/*start main buttons*/
.bk-blue {
    background-color: #47adf1;
    color: white;
    
}

.main-buttons {
    background-color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-bottom:2px solid lightgrey;
}

.button {
    padding: 8px;
    border-radius: 5px;
    border-color: #47adf1;
    font-size: 20px;

}

#hidden-button {
    background-color: white;
    color: lightgrey;
    border-color: lightgrey;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
}
/*end main buttons*/
/*start list*/
ul {
    list-style: none;
    font-size: 22px;
    
}

li {
    font-size: 18px;
    margin-bottom: 8px;
}

.positive {
    color: #78c9b6;
    background-color: white;
    border-radius: 50%;
    border-color: 1px solid #78c9b6;
    display: inline-block;
}

.negative {
    color: #ec655f;
}
.radius {
    background-color: red;
    border-radius: 25px;
    padding: 6px;
    font-size: small;
    color: white;
}

.main-list {
    background-color: white;
    padding: 30px;
}

/*star 1 part*/



